@{
    Layout = "_Layout";
}

@{
    Layout = "_Layout";
}
<section class="excersisebtns">
    <button>Chest</button>
    <button>Shoulders</button>
    <button>Back</button>
    <button>Arms</button>
    <button>Abs</button>
    <button>Legs</button>
</section>
