

@{
    Layout = "_Layout";
}
<section class="hero">
    <div class="herosection">
        <h1>Ready to get jacked? Swole is the goal Size is the prize.</h1>
        <h2>Register now for a personal account</h2>

        <div class="downarrow">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
    </div>
    <div class="ppl">
        <a asp-action="Programs" asp-controller="Program">
            <img src="~/Images/programbild.jpg" alt="programbild" />
        </a>
        <p>
            Lorem ipsum dolor sit amet consetetur adipisicing elit. Quos,
            perferendis molestias ipsum consectetur rerum, commodi vero inventore
            necessitatibus enim, eligendi non excepturi cupiditate dicta tempore
            modi maiores veniam dolore tenetur dolorum voluptates doloremque
            dolorem tempora dolor iste. Placeat reprehenderit explicabo, facere at
            ipsam quis officiis? Tenetur, reiciendis iste corrupti eius, totam quo
            error molestiae esse incidunt voluptatem accusantium, repudiandae
            provident omnis voluptas at aliquid nulla accusamus. Impedit esse
            deleniti eligendi.
        </p>
    </div>
    <div class="ul">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
            perferendis molestias ipsum consectetur rerum, commodi vero inventore
            necessitatibus enim, eligendi non excepturi cupiditate dicta tempore
            modi maiores veniam dolore tenetur dolorum voluptates doloremque
            dolorem tempora dolor iste. Placeat reprehenderit explicabo, facere at
            ipsam quis officiis? Tenetur, reiciendis iste corrupti eius, totam quo
            error molestiae esse incidunt voluptatem accusantium, repudiandae
            provident omnis voluptas at aliquid nulla accusamus. Impedit esse
            deleniti eligendi.
        </p>
        <a asp-action="Programs" asp-controller="Program">
            <img src="~/Images/programbildtva.jpg" alt="programbild" />
        </a>
    </div>
 
</section>


