@model User
@{
    Layout = "_Layout";
}

<section class="hero">
    
        @if (User.Identity.IsAuthenticated)
        {
            <div class="usercontainer">
                <div>
                    <h1>
                        Hej @Html.DisplayFor(u => u.FirstName) @Html.DisplayFor(u => u.LastName)
                    </h1>
                </div>
                <div class="edit"><a asp-action="EditAccount" asp-controller="Home" asp-route-id="@Model.Id">Edit account</a></div>
            </div>
                }
    else
    {
        <div class="herosection">
            <div>
                <h1>Log in for access to this page</h1>
            </div>
        </div>
    }
    




    </section>


